@import url('https://fonts.googleapis.com/css2?family=Creepster&family=DynaPuff&display=swap');


html,
body {
    width: 100%;
    height: 100%;
}

.contain {
    display: inline-grid;
    grid-template-columns: 250px 1548px 250px;
    grid-template-rows: 210px 35px 600px 155px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    font-family: 'Creepster', cursive;
    font-family: 'DynaPuff', cursive;           
}

/*                 Header                      */

header {
    grid-area: header;    
    background: url("../Element/Img/1.jpg");
    background-size: 100% 200%;
    background-position: 0 -200px;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: row-reverse;
}

.logo{
    width: 250px;
    height: 250px;
}

/*                       Nav             */

.navb {
    grid-area: nav;
    background-color: rgb(2, 2, 2);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 5px 500px 150px white;
}

.start {
    display: flex;
    flex-direction: row;
    margin: 5px 8px 0 10px;
}

.end {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -28px;
    margin-right: 5px;
}

.navb a:hover {
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}
.navb a:active {
    padding: 0 2px 0 2px;
}

a {
    color: white;
    margin-left: 5px;
    margin-right: 5px; 
    padding: 1px 5px 1px 5px;
    text-decoration: none;
}

/*                      main                     */

.main {
    grid-area: main;
    background: url("../Element/Img/strongbox-with-light-beams-coming-out-of-open-door.jpg");
    background-size: 100% 120%;
    background-position: 0px -50px;
    background-repeat: no-repeat;
    
}

.table {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkred;
    width: 90%;
    height: 90%;
    color: white;
    border-radius: 15px;
    opacity: 70%;
}

table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 1px;
    width: 80%;
    opacity: 100%;
}

th {
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    font-weight: bold;
}

td {
    border: 2px solid black;
}

td ul{
    display: flex;
    flex-direction: column;
    margin-right: 38px;
}

td li button{
    width: 100px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
    border: 2px solid white;
}
li {
    list-style: none;
}
.delete {
    background-color: red;
    color: white;
}

.modify {
    background-color: rgb(208, 208, 2);
}

.ajouter {
    margin-top: 15px;
    margin-right: 190px;
    width: 180px;
    float: right;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 100px 100px 0 0
}

.ajouter:hover,
.modify:hover,
.delete:hover{
    font-size: 103%;
}

.ajouter:active,
.modify:active,
.delete:active {
    font-size: 95%;
}

.search {
    display: flex;
    justify-content: center;
}

/*                         footer                               */

footer {
    grid-area: footer;
    background-color: rgb(45, 45, 45);
    border-top: 1px solid white;
}

.f-logo {
    width: 155px;
    height: 155px;
}
.f-center {
    display: flex;
    justify-content: center;
}