
.container {
    display: inline-grid;
    grid-template-columns: 250px 1510px 250px;
    grid-template-rows: 230px 35px 700px 180px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

/*                 Header                      */

.header {
    grid-area: header;
   overflow: hidden;
}

.backheader {
    position: relative;
    width: 2031px;
    height: 920px;
    top: -270px;

}
.logo{
    position: relative;
    width: 350px;
    height: 350px;
    bottom: 960px;
    left: 1650px;
}

/*                       Nav             */

.nav {
    grid-area: nav;
    background-color: rgb(2, 2, 2);
    
}

ul {
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    align-items: center;
    list-style: none;
    
}

.end {
    position: relative;
    left: 81vw;
}

.nav li:hover {
    background-color: rgb(49, 49, 49);
    border-radius: 5%;
    border: 2px solid white;
    cursor: pointer;
}
.nav li:active {
    padding: 0 2px 0 2px;
}

a,
li {
    color: white;
    margin-left: 5px;
    margin-right: 5px; 

}

/*                      main                     */

.main {
    grid-area: main;
    background: url("../Element/Img/strongbox-with-light-beams-coming-out-of-open-door.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    
}

.table {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkred;
    width: 90%;
    height: 90%;
    color: white;
    border-radius: 15px;
    opacity: 70%;
}

table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 1px;
    width: 80%;
    opacity: 100%;
}

th {
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
}

td {
    border: 2px solid black;
}

td ul{
    display: flex;
    flex-direction: column;
    margin-right: 38px;
}

td li button{
    width: 100px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 15px;
    border: 2px solid white;
}
.delete {
    background-color: red;
    color: white;
}

.modify {
    background-color: rgb(208, 208, 2);
}

.ajouter {
    margin-top: 15px;
    margin-right: 185px;
    width: 180px;
    float: right;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 100px 100px 0 0
}

.ajouter:hover,
.modify:hover,
.delete:hover{
    font-size: 103%;
}

.ajouter:active,
.modify:active,
.delete:active {
    font-size: 95%;
}